# HyperShift Azure Dev-Preview Code Owners
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
# These are the core HyperShift maintainers
* @enxebre @csrwng @sjenning @muraee @bryan-cox @jparrill @devguyio @celebdor
